body.dark {
  background-color: #272626;
  color: #e3e0e0;

  .site-title {
    text-decoration: none;
    color: #e3e0e0;

    &:hover {
      color: #805ec8;
    }

    &:visited {
      color: #e3e0e0;
    }
  }

  a {
    color: #f1ca39;
  }

  a:hover {
    color: #805ec8;
  }

  a:visited {
    color: #7152ae;
  }
}


