body.dark {
  background-color: #121212;
  color: #ffffff;

  .site-title {
    text-decoration: none;
    color: #ffffff;

    &:hover {
      color: #805ec8;
    }

    &:visited {
      color: #ffffff;
    }
  }

  a {
    color: #f1ca39;
  }

  a:hover {
    color: #805ec8;
  }

  a:visited {
    color: #7152ae;
  }
}


