.post-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

@media (max-width: 800px) {
  .post-container {
    padding: 10px; /* Adjust padding for smaller screens */
  }
}

.image-default {
  width: 100%;
  max-width: 100%;
  height: auto;

  @media (min-width: 768px) {
    width: 50%; /* Adjust the width for desktop view */
  }
}
