@import 'styles/dark';
@import 'styles/light';

.theContent {
  padding: 20px; // Adjust the padding value as needed
  margin: 20px; // Adjust the margin value as needed
}

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

p {
  font-weight: 400;
  font-size: 1.2em;
}
